<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Performance (Leisure & Leadership) Clubs</title>
        <script src="../../static/js/pages.js" type="text/javascript" charset="utf-8"></script>
        <link href="../../static/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="pagebackground">
            <div class="textfield">
				<a href="../categories/arts/Tide.html"><button class="clublink"> The Tide </button></a>
				<a href="../categories/arts/Drama.html"><button class="clublink"> Drama Club </button></a>
				<a href="../categories/arts/Percussion.html"><button class="clublink"> Percussion Ensemble </button></a>
				<a href="../categories/arts/MarchingGuard.html"><button class="clublink"> Marching Band/Color Guard </button></a>
				<a href="../categories/arts/WinterGuard.html"><button class="clublink"> Winter Guard </button></a>
				<a href="../categories/arts/Variety.html"><button class="clublink"> Variety Show </button></a>
				<a href="../categories/arts/Jazz.html"><button class="clublink"> Jazz Band </button></a>
				<a href="../categories/arts/Soundwaves.html"><button class="clublink"> Soundwaves </button></a>
				<a href="../categories/arts/Gaming.html"><button class="clublink"> Traditional Gaming Club </button></a>
				<a href="../categories/arts/WorldArts.html"><button class="clublink"> Worlds Arts Club </button></a>
				<a href="../categories/arts/Photography.html"><button class="clublink"> Photography Club </button></a>
				<a href="../categories/arts/Latin.html"><button class="clublink"> Latin Club </button></a>
				<a href="../categories/arts/French.html"><button class="clublink"> French Club </button></a>
				<a href="../categories/arts/Spanish.html"><button class="clublink"> Spanish Club </button></a>
				<a href="../categories/arts/FutureFarmers.html"><button class="clublink"> Future Farmers of America </button></a>
				
			</div>
        </div>

    </body>

</html>