<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Leadership Clubs</title>
        <script src="../../static/js/pages.js" type="text/javascript" charset="utf-8"></script>
        <link href="../../static/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="pagebackground">
            <div class="textfield">
				<a href="../categories/leadership/Classof2019.html"><button class="clublink"> Class of 2019 </button></a>
                <a href="../categories/leadership/Classof2020.html"><button class="clublink"> Class of 2020 </button></a>
                <a href="../categories/leadership/Classof2021.html"><button class="clublink"> Class of 2021 </button></a>
                <a href="../categories/leadership/Classof2022.html"><button class="clublink"> Class of 2022 </button></a>
				<a href="../categories/leadership/GayStraight.html"><button class="clublink"> Gay Staight Alliance </button></a>
				<a href="../categories/leadership/ProjectSEARCH.html"><button class="clublink"> Project SEARCH </button></a>
				<a href="../categories/leadership/YouthtoYouth.html"><button class="clublink"> Youth-to-Youth </button></a>
				<a href="../categories/leadership/StudentGov.html"><button class="clublink"> Student Government </button></a>
				
				
			</div>
        </div>

    </body>

</html>