<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Sports</title>
        <script src="../../static/js/pages.js" type="text/javascript" charset="utf-8"></script>
        <link href="../../static/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="pagebackground">
            <div class="textfield">
				<a href="../categories/sports/boysBaseball.html"><button class="clublink"> Baseball </button></a>
				<a href="../categories/sports/boysBasketball.html"><button class="clublink"> Boys Basketball </button></a>
				<a href="../categories/sports/boysFootball.html"><button class="clublink"> Football </button></a>
				<a href="../categories/sports/boysIceHockey.html"><button class="clublink"> Boys Ice Hockey </button></a>
				<a href="../categories/sports/boysLacrosse.html"><button class="clublink"> Lacrosse </button></a>
				<a href="../categories/sports/boysSoccer.html"><button class="clublink"> Boys Soccer </button></a>
				<a href="../categories/sports/boysVolleyball.html"><button class="clublink"> Boys Volleyball </button></a>
				<a href="../categories/sports/boysWrestling.html"><button class="clublink"> Wrestling </button></a>
				<a href="../categories/sports/girlsBasketball.html"><button class="clublink"> Girls Basketball </button></a>
				<a href="../categories/sports/girlsFieldHockey.html"><button class="clublink"> Field Hockey </button></a>
				<a href="../categories/sports/girlsIceHockey.html"><button class="clublink"> Girls Ice Hockey </button></a>
				<a href="../categories/sports/girlsSoccer.html"><button class="clublink"> Girls Soccer </button></a>
				<a href="../categories/sports/girlsSoftball.html"><button class="clublink"> Softball </button></a>
				<a href="../categories/sports/girlsCheer.html"><button class="clublink"> Cheer </button></a>
				<a href="../categories/sports/girlsVolleyball.html"><button class="clublink"> Girls Volleyball </button></a>
				<a href="../categories/sports/CrossCountry.html"><button class="clublink"> Cross Country </button></a>
				<a href="../categories/sports/Golf.html"><button class="clublink"> Golf </button></a>
				<a href="../categories/sports/Bowling.html"><button class="clublink"> Bowling </button></a>
				<a href="../categories/sports/Horse.html"><button class="clublink"> Equestrian Team </button></a>
			</div>
        </div>

    </body>

</html>