h1 {
    font-family: verdana;
    font-size: 62px;
    color: white;
    margin: auto;
    padding-top: 100px;
    padding-left: 50px;
}
.pagebackground {
    position: relative;
    width:100%;
    min-width: 1025px;
    margin: auto;
    height: 100%;
    background: linear-gradient(green, white)
}
.header {
    background-image: url("waveyBoi.png");
    margin: auto -30px;
    top: -200px;
    bottom: 0px;
    position: relative;
    width: 1050px;
    height: 418px;
}
.textfield {
    background-color: #d6d6d6;
    margin: auto;
    top: 200px;
    bottom: 200px;
    width: 1000px;
    position: relative;
    display:flex;
    flex-direction: column;
    border: 5px solid #000000;
	border-bottom: 0px;
    border-radius: 10px;
}
.content {
    margin: auto;
    width: 950px;
    top: -200px;
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 100px;
    border: 0px;
}
.navigation {
    position: fixed;
    background-color: #999999;
    margin: 25px;
    top: -200px;
    bottom: 25px;
    width: 950px;
    position: relative;
    height: 50px;
    border: 0px;
    border-radius: 5px;
}
.footerA {
	background-color:green;
	height:150px;
	width:1020px;
	margin:auto -10px;
	border:0px;
	border-radius:10px;
}
.footerB {
	background-color:darkgreen;
	height:15px;
	width:1020px;
	position: relative;
	margin:auto;
	border:0px;
	border-radius:10px;
}
.footerC {
	background-color: #d6d6d6;
	height:10px;
	width:1000px;
	margin:auto;
	border:0px;
	position: relative;
	border: 0px;
	border-radius: 0px 0px 5px 5px;
}
#ClubName {
    color: green;
    text-align: center;
    font-family: verdana;
    font-size: 30px;
    font-weight: bold;
}
#Description {
    font-size:25;
    font-family:times new roman;
}
.clublink {
    margin: auto;
    height: 45px;
    font-size: 1em;
    word-wrap: break-word;
    color: green;
    width:100%;
}
.clublink:hover {
    background-color: green;
    color: white;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.btn-6 {
  btn-color: random-color(max:200);
  btn-color-dark: shade(btn-color, 40%);
	color: tint(btn-color);

  span {
    include absolute();
    display: block;
    include size(0);
    border-radius: 50%;
    background-color: btn-color-dark;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    color: tint($btn-color, 75%);

    span {
      include size(225%, btn-width*2.25);
    }
  }

  &:active {
    background-color: btn-color;
  }
}
