<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dover Community Outreach Network</title>
    <script src="../../../static/js/pages.js" type="text/javascript" charset="utf-8"></script>
    <link href="../../../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body onload="dramaClub()">

    <div class="pagebackground">
        <div class="textfield">
            <div class="header">
                <a href="../../home.html">
                    	<h1>

							Dover Community

							<br>

							Outreach Network

						</h1>
                </a>
            </div>
            <div class="navigation">
                <table width="100%">
                    <tr width="100%">
                        <th width="20%">
                            <a href="../../nav/navCommunityServiceClubs.html">
								<button class="clublink">Community Service Clubs</button>
							</a>
                        </th>
                        <th width="20%">
                            <a href="../../nav/navArtsClubs.html">
                                <button class="clublink">Arts Clubs</button>
							</a>
                        </th>
                        <th width="20%">
                            <a href="../../nav/navLeadershipClubs.html">
                        <button class="clublink">Leadership Clubs</button>
                            </a>
                        </th>
                        <th width="20%">
                            <a href="../../nav/AcademicCompClubsNav.html">
                                <button class="clublink">Academic Competition Clubs</button>
                            </a>
                        </th>
                        <th width="20%">
                            <a href="../../nav/navSports.html">
                                <button class="clublink">Sports</button>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="content">
                    <p id="ClubName">Title</p>
                    <p id="Description">Put stuff here</p>
            </div>
			<div class="footerA">
				<div class="footerB">
					<div class="footerC">
				
					</div>
				</div>
			</div>
        </div>
		
    </div>

</body>

</html>