<!DOCTYPE html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Dover Community Outreach Network</title>
  <script src="../app/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../static/js/control.js" type="text/javascript" charset="utf-8"></script>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>

  <div class="pagebackground">
    <div class="textfield">
      <div class="header">
        <a href="./?page=dconHome">
          <h1>

            Dover Community

            <br>

            Outreach Network

          </h1>
        </a>
      </div>

      <div class="navigation">
        <table>
          <tr>
            <th width="16.66%">
              <div class="clublink">
                <span>
                  <p class="clubButtons">Community Service Clubs</p>
                </span>
                <div class="clublink-content">
                  <button onclick="window.location.href='./?page=interactClub'" class="clublink"> Interact Club </button><br>
                  <button onclick="window.location.href='./?page=keyClub'" class="clublink"> Key Club </button><br>

                  <button onclick="window.location.href='./?page=earthAction'" class="clublink"> Earth Action </button><br>

                </div>
              </div>
            </th>

            <th width="16.66%">
              <div class="clublink">
                <span>
                  <p class="clubButtons">The Arts</p>
                </span>
                <div class="clublink-content">
                  <div class="clubsublink">
                    <button class="clublink"> Performing Arts <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=window.location.href='./?page=percussionEnsemble'" class="clublink"> Percussion Ensemble </button><br>
                      <button onclick="window.location.href='./?page=window.location.href='./?page=jazzBand'" class="clublink"> Jazz Band </button><br>
                      <button onclick="window.location.href='./?page=soundWaves'" class="clublink"> Soundwaves </button><br>
                      <button onclick="window.location.href='./?page=dramaClub'" class="clublink"> Drama Club </button><br>
                      <button onclick="window.location.href='./?page=colorGuard'" class="clublink"> Marching Band & Color Guard </button><br>
                      <button onclick="window.location.href='./?page=winterGuard'" class="clublink"> Winter Guard </button><br>
                      <button onclick="window.location.href='./?page=varietyShow'" class="clublink"> Variety Show </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Language Arts <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=latinClub'" class="clublink"> Latin Club </button><br>
                      <button onclick="window.location.href='./?page=frenchClub'" class="clublink"> French Club </button><br>
                      <button onclick="window.location.href='./?page=spanishClub'" class="clublink"> Spanish Club </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Visual Arts <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=theTide'" class="clublink"> The Tide </button><br>
                      <button onclick="window.location.href='./?page=TGC'" class="clublink"> Traditional Gaming Club </button><br>
                      <button onclick="window.location.href='./?page=WAC'" class="clublink"> Worlds Arts Club </button><br>
                      <button onclick="window.location.href='./?page=photographyClub'" class="clublink"> Photography Club </button><br>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th width="16.66%">
              <div class="clublink">
                <span>
                  <p class="clubButtons">
                    Leadership Clubs
                  </p>
                </span>
                <div class="clublink-content">
                  <div class="clubsublink">
                    <button class="clublink"> Student Body <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=classOf2019'" class="clublink"> Class of 2019 </button><br>
                      <button onclick="window.location.href='./?page=classOf2020'" class="clublink"> Class of 2020 </button><br>
                      <button onclick="window.location.href='./?page=classOf2021'" class="clublink"> Class of 2021 </button><br>
                      <button onclick="window.location.href='./?page=classOf2022'" class="clublink"> Class of 2022 </button><br>
                      <button onclick="window.location.href='./?page=StudentGov'" class="clublink"> Student Government </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Academic Leadership <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=NHS'" class="clublink"> National Honors Society </button><br>
                      <button onclick="window.location.href='./?page=athleticLeadershipCouncil'" class="clublink"> Athletic Leadership </button><br>
                      <button onclick="window.location.href='./?page=TNHS'" class="clublink"> NH Technical Honors Society </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Leadership in the Community <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=gsa'" class="clublink"> Gay Staight Alliance </button><br>
                      <button onclick="window.location.href='./?page=projectSearch'" class="clublink"> Project SEARCH </button><br>
                      <button onclick="window.location.href='./?page=YtY'" class="clublink"> Youth-to-Youth </button><br>
                      <button onclick="window.location.href='./?page=ffa'" class="clublink"> Future Farmers of America </button><br>
                    </div>
                  </div>
                </div>
              </div>
            </th>

            <th width="16.66%">
              <div class="clublink">
                <span>
                  <p class="clubButtons">Academic Competition Clubs</p>
                </span>
                <div class="clublink-content">
                  <button onclick="window.location.href='./?page=DSR'" class="clublink"> Dover Shockwave Robotics </button><br>
                  <button onclick="window.location.href='./?page=graniteStateChallenge'" class="clublink"> Granite State Challenge </button><br>
                  <button onclick="window.location.href='./?page=mathTeam'" class="clublink"> Mathematics Team </button><br>
                  <button onclick="window.location.href='./?page=cyberPatriot'" class="clublink"> Cyberpatriot Club </button><br>
                  <button onclick="window.location.href='./?page=chessclub'" class="clublink"> Chess Club </button><br>
                  <button onclick="window.location.href='./?page=NJROTC'" class="clublink"> NJROTC </button><br>
                </div>
              </div>
            </th>

            <th width="16.66%">
              <div class="clublink">
                <span>
                  <p class="clubButtons">
                    Sports
                  </p>
                </span>

                <div class="clublink-content">
                  <div class="clubsublink">
                    <button class="clublink"> Basketball <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=boysBasketball'" class="clublink"> Boys Basketball </button><br>
                      <button onclick="window.location.href='./?page=girlsBasketball'" class="clublink"> Girls Basketball </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Hockey <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=girlsFieldHockey'" class="clublink"> Field Hockey </button><br>
                      <button onclick="window.location.href='./?page=girlsIceHockey'" class="clublink"> Girls Ice Hockey </button><br>
                      <button onclick="window.location.href='./?page=boysIceHockey'" class="clublink"> Boys Ice Hockey </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Soccer <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=boysSoccer'" class="clublink"> Boys Soccer </button><br>
                      <button onclick="window.location.href='./?page=girlsSoccer'" class="clublink"> Girls Soccer </button><br>
                    </div>
                  </div>
                  <div class="clubsublink">
                    <button class="clublink"> Volleyball <i class="fas fa-caret-right"></i></button><br>
                    <div class="clublink-subcontent">
                      <button onclick="window.location.href='./?page=boysVolleyball'" class="clublink"> Boys Volleyball </button><br>
                      <button onclick="window.location.href='./?page=girlsVolleyball'" class="clublink"> Girls Volleyball </button><br>
                    </div>
                  </div>
                  <button onclick="window.location.href='./?page=baseball'" class="clublink"> Baseball </button><br>
                  <button onclick="window.location.href='./?page=boysFootball'" class="clublink"> Football </button><br>
                  <button onclick="window.location.href='./?page=boysLacrosse'" class="clublink"> Lacrosse </button><br>
                  <button onclick="window.location.href='./?page=boysWrestling'" class="clublink"> Wrestling </button><br>
                  <button onclick="window.location.href='./?page=softball'" class="clublink"> Softball </button><br>
                  <button onclick="window.location.href='./?page=cheer'" class="clublink"> Cheer </button><br>
                  <button onclick="window.location.href='./?page=crossCountry'" class="clublink"> Cross Country </button><br>
                  <button onclick="window.location.href='./?page=golf'" class="clublink"> Golf </button><br>
                  <button onclick="window.location.href='./?page=bowling'" class="clublink"> Bowling </button><br>
                  <button onclick="window.location.href='./?page=equestrian'" class="clublink"> Equestrian Team </button><br>
                </div>
              </div>
            </th>

			<th width="16.66%">
				<div class="clublink">
					<input id="search" placeholder="Search..?"></input>
					<button id="submit">Go</button>
				</div>
            </th>
          </tr>
        </table>
      </div>

      <div class="content">
        <p id="ClubName">Title</p>
        <div id="Description">Put stuff here</div>
      </div>

      <div class="footerA">
        <div class="footerB">
          <div class="footerC">
            
            <a href="https://www.instagram.com/explore/locations/226405091/dover-high-school-new-hampshire?hl=en"><i id="socialmedia" class="fab fa-instagram"></i></a> <a href="https://twitter.com/yearbookdhs2018"><i id="socialmedia" class="fab fa-twitter-square"></i></a> <a href="https://www.facebook.com/pages/Dover-High-School-New-Hampshire/107908662564829"><i id="socialmedia" class="fab fa-facebook"></i></a>  <a href="https://www.youtube.com/watch?v=ZkHb3a6G3gk"><i id="socialmedia" class="fab fa-youtube"></i></a>
            <p class="footerText"> 25 Alumni Drive, Dover, NH 03820<br> 603-516-6900 <br> Fax: 603-516-6926 </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="getText">
  </div>

</body>

</html>