<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>News</title>

<base target="_parent">

</head>

<body style="border: hidden;border-width: 7px" onMouseover="scrollspeed=0" onMouseout="scrollspeed=current" OnLoad="NewsScrollStart();">

<div style="background-color: white;border-radius: 5px;">
<h3 style="	font-size: 15px;padding-left: 10px;padding-top: 10px;">Class of 2019 Graduation Date is set!</h3>
<p style="text-align: left; padding: 5px;">Graduation for the Class of 2019 will be held on Wednesday, June 12th at 7 p.m. at the Whittemore Center on the campus of the University of New Hampshire. Seniors will receive more information at a later date. </div>
<div style="background-color: rgb(158, 155, 152);border-radius: 5px;">
<h3 style="	font-size: 15px;padding-left: 10px;padding-top: 10px;">Two 1,000 Point Scorers in One Night!</h3>
<p style="text-align: left; padding: 5px;">Katrina Krenzer scored her 1,000th point in basketball recently and on that same night, Ty Vitko scored his 1,000 point as well! Congrats to you both on this big accomplishment! </p>
</div>
<div style="background-color: rgb(255, 255, 255);border-radius: 5px;">
<h3 style="	font-size: 15px;padding-left: 10px;padding-top: 10px;">NH Youth Behavior Survey (YRBS) </h3>
<p style="text-align: left; padding: 5px;">On Thursday, April 11, 2019 Dover High School will be participating in the 2019 New Hampshire Youth Behavior Survey (YRBS) designed by the Center for Disease Control (CDC). Students in grades 9 through 12 are eligible to participate in this research survey which asks about vehicle safety, bullying, violence, mental health, tobacco, alcohol and drug use, sexual behaviors, and nutrition and physical activity. </p>
</div>


</html>
